<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>コッカくん</title>
    <link rel="stylesheet" hrel="index.css">
  </head>
  <body>
    <header>
      骨格診断ツール コッカくん
    </header>

    <div class="contents">
      これはご自身の体型の骨格タイプを知ってもらうためのアプリケーションです。
      <br>ご自身の骨格タイプが分かれば下記のメリットがあります。
    </div>
    
    <div class="merit">
      ①体型の特徴が分かり、それにより筋肉と脂肪のつき方が分かるので、太り方や鍛えると効果的な部位が分かる<br>
      ②似合う服が分かり、その服を着ることでスタイルがよく見えるので、周りの印象を変えることができる
    </div>
    <div class="middle_contents"> 
    ご自身の骨格に合った服装や筋トレをしていただくことで、第一印象で損をする確率を大きく減らすことができます。
    <br>これを機にご自身の骨格を知り、似合う服装を知って頂いて、今後の服選びの参考にしていただければ幸いです。
    </div>
    <div class="bottom_contents">
    ご自身のタイプを診断するために、下記の１０個の質問にお答えください。
    <br>A B Cの中から、ご自身に最も近いと思えるものにチェックをお願いします。
    <br>チェック後は『カウントする』ボタンを押してください。
    </div>
  
  <form>
    <ul class="questions">
    Q1 首の長さは？
      <li class="answer">
      <input type="checkbox" name="answer_a" value= "a" >A 短い
      </li>
      <li class="answer">
      <input type="checkbox" name="answer_b" value= "b" >B 長い
      </li>
      <li class="answer">
      <input type="checkbox" name="answer_c" value= "c">C 太くて筋が目立つ
      </li>
    </ul>

    <ul class="questions">
    Q2 鎖骨は？
      <li class="answer">
      <input type="checkbox" name="answer_a" value= "a" >A 目立たない
      <li class="answer">
      <input type="checkbox" name="answer_b" value= "b" >B 細く、目立つ
      </li>
      <li class="answer">
      <input type="checkbox" name="answer_c" value= "c" >C 大きくて目立つ
      </li>
    </ul>

    <ul class="questions">
     Q3 上半身の厚みは？
      <li class="answer">
      <input type="checkbox" name="answer_a" value= "a" >A 胸板厚め、肩周りはガッチリ
      </li>
      <li class="answer">
      <input type="checkbox" name="answer_b" value= "b" >B 胸板薄め、肩まわり華奢
      </li>
      <li class="answer">
      <input type="checkbox" name="answer_c" value= "c" >C 胸板薄い、肩幅広め 筋肉より鎖骨や肩の骨が目立つ
      </li>
    </ul>

    <ul class="questions">
    Q4 腰回りは？
      <li class="answer">
      <input type="checkbox" name="answer_a" value= "a" >A 腰の位置低め くびれは無い方
      </li>
      <li class="answer">
      <input type="checkbox" name="answer_b" value= "b" >B 腰の位置低い くびれあり
      </li>
      <li class="answer">
      <input type="checkbox" name="answer_c" value= "c" >C 骨盤付近の骨が出ていて目立つ
      </li>
    </ul>

    <ul class="questions">
    Q5 太もも、膝下の特徴は？
      <li class="answer">
      <input type="checkbox" name="answer_a" value= "a" >A 太ももは太く膝下は細い 骨は真っ直ぐ
      </li>
      <li class="answer">
      <input type="checkbox" name="answer_b" value= "b" >B 下半身全体が太い O脚気味
      </li>
      <li class="answer">
      <input type="checkbox" name="answer_c" value= "c" >C 太ももは肉肉しくない すねの骨が太い
      </li>
    </ul>

    <ul class="questions">
    Q6 ひざの皿は？
      <li class="answer">
      <input type="checkbox" name="answer_a" value= "a" >A 小さく目立たない
      </li>
      <li class="answer">
      <input type="checkbox" name="answer_b" value= "b" >B 普通 丸い
      </li>
      <li class="answer">
      <input type="checkbox" name="answer_c" value= "c" >C 大きくて目立つ 
      </li>
    </ul>

   <ul class="questions">
   Q7 手の特徴は？
     <li class="answer">
     <input type="checkbox" name="answer_a" value= "a" >A 小さく厚い 指が短い
     </li>
     <li class="answer">
     <input type="checkbox" name="answer_b" value= "b" >B 普通 丸い 
     </li>
     <li class="answer">
     <input type="checkbox" name="answer_c" value= "c" >C 大きく筋が目立つ 第二関節が一番太い
     </li>
   </ul>

  <ul class="questions">
  Q8 手首の特徴は？
    <li class="answer">
    <input type="checkbox" name="answer_a" value= "a" >A 細くて丸い
    </li>
    <li class="answer">
    <input type="checkbox" name="answer_b" value= "b" >B 平べったく薄い（楕円型）
    </li>
    <li class="answer">
    <input type="checkbox" name="answer_c" value= "c" >C くるぶしが目立つ長方形
    </li>
  </ul>
   
   <ul class="questions">
   Q9 太ると肉がつきやすいのは？
     <li class="answer">
     <input type="checkbox" name="answer_a" value= "a" >A 二の腕 へそ周り
     </li>
     <li class="answer">
     <input type="checkbox" name="answer_b" value= "b" >B 下っ腹 下半身
     </li>
     <li class="answer">
     <input type="checkbox" name="answer_c" value= "c" >C 全体的に太ってガタイが良くなる
     </li>
   </ul>

  <ul class="questions">
  Q10 苦手なファッションは？
    <li class="answer">
    <input type="checkbox" name="answer_a" value= "a" >A ハイネックは着太りする
    </li>
    <li class="answer">
    <input type="checkbox" name="answer_b" value= "b" >B 胸元が開いた服は貧相に見える
    </li>
    <li class="answer">
    <input type="checkbox" name="answer_c" value= "c" >C タイトな服は骨が目立つ
    </li>
  </ul>
  <div class="count">
    <button id="btn" type="button" class="count">カウントする</button>
   </div>
</form>

<div class="category">
 Aが多い人は下記のページA、Bが多い人はページB、Cが多い人はページCのリンクをクリックしてください
 <br>もし、A、B、Cのいずれかのチェック数が同じだった場合はミックスタイプになります。
 <br>例えばAが5点、Bが5点の場合はページCの服装を避けるようにしてください。
</div>

<div class="page_a">
  <%=link_to questions_page_a_path do %>
   <button class="btn_page_a">ページA</button>
   <%end%>
</div>
<div class="page_b">
   <%=link_to questions_page_b_path do%>
   <button class="btn_page_b">ページB</button>
   <%end%>
</div>
<div class="page_c">
   <%=link_to questions_page_c_path do %>
   <button class="btn_page_c">ページC</button>
   <%end%>
</div>

   <footer>
   </footer>
  </body>
</html>
