.wave{
  background-color: rgb(181, 181, 250);
}
.type{
  margin: 20px auto 15px;
  width: 850px;
  font-size: 25px;
}

.blue{
  color: blue;
  border-bottom: solid 3px yellow;
}

.table{
  margin: 20px auto 15px;
  width: 850px;
  font-size: 25px;
  border-bottom: solid 3px yellow;
}

.characteristics{
  margin: 0 auto;
  width: 750px;
  font-size: 20px;
}

.muscle{
  margin: 0 auto;
  width:750px;
  font-size: 20px;
}

.coordination{
  margin: 0 auto;
  width: 750px;
  font-size: 20px;
}

.top{
  margin: 0 auto;
  width: 750px;
  font-size: 20px;
}

.bottom{
  margin: 0 auto;
  width: 750px;
  font-size: 20px;
}

.pattern{
  margin: 0 auto;
  width: 750px;
  font-size: 20px;
}

.ng{
  margin: 0 auto 20px;
  width: 750px;
  font-size: 20px;
}

footer{
  height: 50px;
  width: 100%;
  background-color: rgb(7, 7, 7);
}